
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
h1,h2,h3,h4,h5,h6,p,li{
    font-family: 'Indie Flower', cursive;
}
.big-text{
    font-size: 400%;
}
.med-text{
    font-size: 250%;
}
.small-text{
    font-size:150%;
}
.top{
    margin-bottom: 0;
    margin-top: 10px;
}
.bottom{
    margin-bottom: 40px;
    margin-top:10px;
}
.tab{
    display: inline-block;
    margin-left: 40px;
}
.super-div{
    margin-left: 150px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.c-bord{
    border: 4mm ridge rgb(65, 149, 245);
}
