.header {
  text-align: center;
  color: white;
  background-color: #474e5d;
  padding: 50px;
}
.header > h1 {
  font-weight: bold;
  font-size: 2em;
}
h1,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h2 {
  font-weight: bold;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  overflow-y: scroll;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  justify-content: flex-start;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin: 8px;
}
.ccard {
  margin-bottom: 16px;
  padding: 0px 8px;
  float: left;
}
.button {
  border: none;
  padding: 8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #555;
}
.title {
  color: grey;
}
.container {
  padding: 0px 16px;
  padding-bottom: 0.1px;
  padding-top: 0.1px;
}
.card > img {
  width: 100%;
  object-fit:cover;
  height:500px;
}
